<div [formGroup]="mcq" class="flex flex-col h-full w-full">
    <div>
        <p class="mb-4">{{quizData?.questionTitle}}</p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 h-full w-full">
        <!-- <div *ngIf="getOneCorrectOption() ; else singleCorrectOptionUI " class="order-2 sm:order-1"> -->
        <div formArrayName="options" class="order-2 sm:order-1">
            <div form *ngFor="let option of quizData.options; let optionIndex=index; let f = first; let l = last">
                <div [formGroupName]="optionIndex.toString()" class="flex py-1 items-center">
                    <div class="pr-1">{{optionIndex +1}}:</div>
                    <input type="checkbox" class="form-check-input mr-2" [id]="'exampleCheck1'+i"
                        formControlName="attemptedOption" [value]="option.attemptedOption" (change)="change()">
                    <!-- <input type="text" formControlName="Title" class="form-control pr-1" for="exampleCheck1"> -->
                    <label class="font-weight-normal" [for]="'exampleCheck1' + optionIndex">{{option.name}}</label>
                </div>
            </div>
        </div>

        <!-- tabs -->
        <!-- <div class="h-100 flex-auto border-t w-full max-w-screen-xl mx-auto order-1 sm:order-2 ">
            <div class="flex flex-wrap ">
                <div class="w-full h-full">
                    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
                        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center"
                            *ngFor="let res of quizData.optionalResource ; let i = index">
                            <a class=" text-sm uppercase px-5 py-3 shadow-lg border rounded-full block leading-normal scale-90 cursor-pointer line-clamp-1"
                                [ngClass]="{'text-primary bg-white ': openTab !== i, 'text-white bg-primary': openTab === i}">
                                {{res.resourceName}}
                            </a>
                        </li>
                    </ul>

                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full h-full mb-6 ">
                        <div class="px-4 py-5 flex-auto w-full h-full">
                            <div class="tab-content tab-space w-full h-full">
                                <div *ngFor="let res of quizData.optionalResource ; let i = index"
                                    [ngClass]="{'hidden': openTab !== i, 'block': openTab === i}" class="w-full h-full">
                                    <div *ngIf="res.Type == 'IMAGE'; else otherRes">
                                        <img [src]="res.resourcePath" alt="Image loading...">
                                    </div>
                                    <ng-template #otherRes>
                                        <div *ngIf="res.Type ==='VIDEO' ;else pdfContainer" #videoRef
                                            class="w-full h-full">
                                            <div *ngIf="res?.URL">
                                                <app-video [videoUrl]="res.resourcePath"></app-video>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template #pdfContainer>
                                        <ng-container *ngIf="res.Type ==='PDF'">
                                            <div class="flex justify-center items-center w-[30vw] h-[50vh] pb-2">
                                                <div *ngIf="res?.resourcePath">
                                                    <app-pdf [pdfUrl]="res.resourcePath" class='w-full h-full'>
                                                    </app-pdf>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-template>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>