<form [formGroup]="basicInfoForm">
    <div class="h-[57vh] overflow-auto">
        <div class="pt-1">
            <div class="bg-primary-50 rounded-xl">
                <div class="p-4 grid grid-cols-2 gap-8">
                    <div>
                        <mat-form-field class="w-full text-accent-600">
                            <mat-label class="text-[#282B66]"
                                >Contest Title</mat-label
                            >
                            <input
                                id="title"
                                matInput
                                [formControlName]="'contestTitle'"
                                type="text"
                                placeholder="Enter Contest title"
                            />
                            <mat-error
                                *ngIf="
                                    basicInfoForm.get('contestTitle').invalid
                                "
                            >
                                Contest Title is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full text-accent-600">
                            <mat-label class="text-[#282B66]"
                                >Contest Subtitle</mat-label
                            >
                            <input
                                id="title"
                                matInput
                                [formControlName]="'contestSubtitle'"
                                type="text"
                                placeholder="Enter Contest Subtitle"
                            />
                            <mat-error
                                *ngIf="
                                    basicInfoForm.get('contestSubtitle').invalid
                                "
                            >
                                Contest Subtitle is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full text-accent-600">
                            <mat-label class="text-[#282B66]"
                                >Contest Description</mat-label
                            >
                            <input
                                id="title"
                                matInput
                                [formControlName]="'contestDescription'"
                                type="text"
                                placeholder="Enter Contest Description"
                            />
                            <mat-error
                                *ngIf="
                                    basicInfoForm.get('contestDescription')
                                        .invalid
                                "
                            >
                                Contest Description is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full text-accent-600">
                            <mat-label class="text-[#282B66]">Type</mat-label>
                            <mat-select
                                [formControlName]="'type'"
                                placeholder="Select ParticipantType"
                            >
                                <mat-option disabled selected
                                    >Select</mat-option
                                >
                                <mat-option
                                    *ngFor="let type of contestTypes"
                                    [value]="type.key"
                                    >{{ type.value }}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="
                                    basicInfoForm.get('participantType')
                                        ?.invalid &&
                                    basicInfoForm.get('participantType')
                                        ?.touched
                                "
                            >
                                ParticipantType is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full text-accent-600">
                            <mat-label class="text-[#282B66]"
                                >Contest Award Schedule URL</mat-label
                            >
                            <input
                                id="contestawardScheduleUrl"
                                matInput
                                [formControlName]="'contestawardScheduleUrl'"
                                type="text"
                                placeholder="Enter Contest Award Schedule URL"
                            />
                            <mat-error
                                *ngIf="
                                    basicInfoForm
                                        .get('contestawardScheduleUrl')
                                        ?.hasError('required') &&
                                    basicInfoForm.get('contestawardScheduleUrl')
                                        ?.touched
                                "
                            >
                                Contest Award Schedule URL is required
                            </mat-error>

                            <mat-error
                                *ngIf="
                                    basicInfoForm
                                        .get('contestawardScheduleUrl')
                                        ?.hasError('invalidWebsiteUrl') &&
                                    basicInfoForm.get('contestawardScheduleUrl')
                                        ?.touched
                                "
                            >
                                Invalid URL
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full text-accent-600">
                            <mat-label>Registration Start Date</mat-label>
                            <input
                                placeholder="Select Time Start Date"
                                required
                                formControlName="RegistrationStartdate"
                                matInput
                                [matDatepicker]="picker2"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="picker2"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="w-full text-accent-600">
                            <mat-label class="text-[#282B66]"
                                >Sender Name</mat-label
                            >
                            <input
                                id="contestsenderName"
                                matInput
                                [formControlName]="'contestsenderName'"
                                type="text"
                                placeholder="Enter contest sender Name"
                            />
                            <mat-error
                                *ngIf="
                                    basicInfoForm.get('contestsenderName')
                                        .invalid
                                "
                            >
                                Contest Sender Name is required
                            </mat-error>
                        </mat-form-field>

                        <mat-label class="text-[#282B66]"
                            >Upload Contest Logos</mat-label
                        >
                        <div class="flex float-right mb-2">
                            <mat-icon
                                matTooltipPosition="above"
                                matTooltip="Add New Logo"
                                (click)="addNewLogo()"
                                class="icon-size-7 text-primary-600 cursor-pointer plusIcon active:text-primary-500"
                                [svgIcon]="'heroicons_solid:plus-circle'"
                            >
                            </mat-icon>
                        </div>
                        <div formArrayName="contestLogosPathArr">
                            <div
                                *ngFor="
                                    let contestlogo of basicInfoForm?.get(
                                        'contestLogosPathArr'
                                    )?.controls;
                                    let logoIndex = index;
                                    let f = first;
                                    let l = last
                                "
                                [formGroupName]="logoIndex"
                                class="w-80 mt-2"
                            >
                                <div class="flex flex-col bg-grey-lighter w-72">
                                    <label
                                        matRipple
                                        class="border border-primary relative right-0 flex flex-col items-center rounded-lg p-2 h-12 cursor-pointer bg-white text-primary-600 hover:bg-slate-200"
                                    >
                                        <span class="absolute left-0 mt-1 ml-2">
                                            <mat-icon
                                                class="text-primary"
                                                svgIcon="heroicons_outline:arrow-circle-down"
                                            ></mat-icon>
                                        </span>
                                        <div class="flex items-center mt-1">
                                            <span
                                                class="md:text-base relative sm:text-[10px]"
                                            >
                                                {{
                                                    contestlogo?.get(
                                                        "contestLogoPath"
                                                    ).value
                                                        ? "Re-Upload"
                                                        : "Upload"
                                                }}
                                            </span>
                                        </div>
                                        <input
                                            type="file"
                                            class="hidden"
                                            #logoFileInputRef
                                            accept=".png,.jpeg,.jpg"
                                            (change)="
                                                selectFile($event, logoIndex)
                                            "
                                        />
                                    </label>
                                    <span
                                        *ngIf="contestlogo?.value?.fileName"
                                        class="text-xs text-secondary line-clamp-1 ml-1"
                                        >{{ contestlogo?.value?.fileName }}
                                    </span>
                                    <div
                                        class="pl-4 mt-3"
                                        [style.visibility]="
                                            contestlogo?.value?.loader
                                                ? 'visible'
                                                : 'hidden'
                                        "
                                    >
                                        <span class="loader ml-32"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="w-full mt-4">
                            <mat-label class="text-[#282B66]"
                                >Is contest steps locked</mat-label
                            >
                            <mat-slide-toggle
                                [checked]="false"
                                class="mt-2 ml-2"
                                [color]="'primary'"
                                formControlName="isContestStepsLocked"
                                (change)="setContestStepsLocked($event)"
                            >
                            </mat-slide-toggle>
                        </div>

                        <div class="w-full mt-4">
                            <mat-label class="text-[#282B66]"
                                >Is this contst part of RYSI Partner
                                App</mat-label
                            >
                            <mat-slide-toggle
                                [checked]="false"
                                class="mt-2 ml-2"
                                [color]="'primary'"
                                formControlName="isRysiPartnerContest"
                                (change)="setRysiPartnerContest($event)"
                            >
                            </mat-slide-toggle>
                        </div>

                        <div class="w-full mt-4">
                            <mat-label class="text-[#282B66]"
                                >Is contest submission image needs to be
                                blurred</mat-label
                            >
                            <mat-slide-toggle
                                [checked]="false"
                                class="mt-2 ml-2"
                                [color]="'primary'"
                                formControlName="isContestSubmissionImageNeedsToBeBlurred"
                                (change)="
                                    setContestSubmissionImageBlurred($event)
                                "
                            >
                            </mat-slide-toggle>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="w-full text-accent-600">
                            <mat-label class="text-[#282B66]"
                                >Who can participate?</mat-label
                            >
                            <mat-select
                                [formControlName]="'participantType'"
                                placeholder="Select ParticipantType"
                            >
                                <mat-option disabled selected
                                    >Select</mat-option
                                >
                                <mat-option value="STUDENT">STUDENT</mat-option>
                                <mat-option value="TEACHER">TEACHER</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="
                                    basicInfoForm.get('participantType')
                                        ?.invalid &&
                                    basicInfoForm.get('participantType')
                                        ?.touched
                                "
                            >
                                ParticipantType is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full text-accent-600">
                            <mat-label class="text-[#282B66]"
                                >Creator Name</mat-label
                            >
                            <input
                                id="creatorName"
                                matInput
                                [formControlName]="'creatorName'"
                                type="text"
                                [disabled]="true"
                                placeholder="Enter Creator Name"
                            />
                            <mat-error
                                *ngIf="
                                    basicInfoForm?.get('creatorName')?.invalid
                                "
                            >
                                Creator Name is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-full text-accent-600">
                            <mat-label class="text-[#282B66]">Domain</mat-label>
                            <input
                                id="domain"
                                matInput
                                [formControlName]="'domain'"
                                type="text"
                                placeholder="Enter Contest End Url"
                            />
                            <mat-icon
                                svgIcon="heroicons_outline:lock-closed"
                            ></mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-full text-accent-600">
                            <mat-label>Contest Start Date</mat-label>
                            <input
                                placeholder="Select Time Start Date"
                                required
                                formControlName="contestStartDate"
                                matInput
                                [matDatepicker]="picker"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="picker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="w-full text-accent-600">
                            <mat-label>Contest End Date</mat-label>
                            <input
                                placeholder="Select Time End Date"
                                required
                                formControlName="contestEndDate"
                                matInput
                                [matDatepicker]="picker1"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="picker1"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="w-full text-accent-600">
                            <mat-label>Registration End Date</mat-label>
                            <input
                                placeholder="Select Time End Date"
                                required
                                formControlName="RegistrationEnddate"
                                matInput
                                [matDatepicker]="picker3"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="picker3"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="w-full text-accent-600">
                            <mat-label class="text-[#282B66]"
                                >End URL</mat-label
                            >
                            <input
                                id="contestEndUrl"
                                matInput
                                [formControlName]="'contestEndUrl'"
                                type="text"
                                placeholder="Enter Contest End URL"
                            />
                            <mat-error
                                *ngIf="
                                    basicInfoForm.get('contestEndUrl').invalid
                                "
                            >
                                Contest End URL is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full text-accent-600">
                            <mat-label class="text-[#282B66]"
                                >URL Link</mat-label
                            >
                            <input
                                id="contestUrlLink"
                                matInput
                                [formControlName]="'contestUrlLink'"
                                type="text"
                                placeholder="Enter URL Link"
                            />
                            <mat-error
                                *ngIf="
                                    basicInfoForm
                                        .get('contestUrlLink')
                                        ?.hasError('required') &&
                                    basicInfoForm.get('contestUrlLink')?.touched
                                "
                            >
                                URL Link is required
                            </mat-error>
                            <mat-error
                                *ngIf="basicInfoForm.get('contestUrlLink')?.errors?.['invalidWebsiteUrl']"
                            >
                                Invalid URL
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row-reverse pt-3">
        <button
            matStepperNext
            (click)="onClickNext()"
            [disabled]="!basicInfoForm.valid"
            mat-stroked-button
            type="button"
            class="bg-primary text-white arrowBtn disabled:bg-primary-100"
        >
            Next
            <mat-icon
                *ngIf="basicInfoForm.valid"
                class="ml-2 icon-size-5 text-white arrowIcon"
                [svgIcon]="'heroicons_solid:arrow-sm-right'"
            >
            </mat-icon>
            <mat-icon
                *ngIf="!basicInfoForm.valid"
                class="ml-2 icon-size-5 text-white"
                [svgIcon]="'heroicons_solid:arrow-sm-right'"
            >
            </mat-icon>
        </button>
    </div>
</form>
