<div class="h-full">
    <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden ">
        <mat-drawer-container class="flex-auto h-full">
            <mat-drawer class="w-90 dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened"
                #matDrawer>
                <div class="flex flex-col items-start p-8 border-b">
                    <!-- Back to courses -->
                    <!-- <a class="inline-flex items-center leading-6 text-primary hover:underline cursor-pointer"
                        (click)="goBack()">
                        <span class="inline-flex items-center">
                            <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:arrow-sm-left'">
                            </mat-icon>
                            <span class="ml-1.5 font-medium leading-5">Back</span>
                        </span>
                    </a> -->
                    <div>
                        <!--  title  stage 1 -->
                        <div
                            class="my-3 py-0.5 px-3 rounded-full text-md font-semibold w-max text-primary-700 bg-blue-100">
                            {{currentWorkflow?.eventStepName}}
                        </div>
                        
                        <!--  title  stage 2 -->
                        
                        <!-- description -->
                        <!-- <div class="text-secondary">
                            {{selectedStageSubm.submissionDesc}}
                        </div> -->
                        <!-- workflowInfo time -->
                        <!-- <div class="mt-6 flex items-center leading-5 text-md text-secondary">
                            <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <div class="ml-1.5">{{currentWorkflow?.workflowStepDuration}} minutes</div>
                        </div> -->
                    </div>
                </div>

                <!-- WorkFlow Steps -->
                <div>
                    <div>
                        <div class="py-2 px-8 relative">
                            <!-- <div *ngIf="resetButton &&checkLearningUnitId" (click)="workflowInitialization()" -->
                            <!-- <div *ngIf="resetButton" matTooltip="Back to Saved Workflow"
                                class="absolute right-1 top-1 cursor-pointer">
                                <mat-icon class="text-primary-600 active:text-primary-800" svgIcon="undo"></mat-icon>
                            </div> -->
                            <ol>
                                <ng-container
                                    *ngFor="let step of workflowInfo?.workflowSteps; let last = last; trackBy: trackByFn">
                                    <li class="relative group py-6"
                                        [class.current-step]="step.sequenceNumber === currentStep">
                                        <ng-container *ngIf="!last">
                                            <div class="absolute top-6 left-4 w-0.5 h-full -ml-px"
                                                [ngClass]="{'bg-primary': step.sequenceNumber < currentStep,
                                                                                        'bg-gray-300 dark:bg-gray-600': step.sequenceNumber >= currentStep}"></div>
                                        </ng-container>
                                        <div class="relative flex items-start cursor-pointer"
                                            (click)="goToStep(step.sequenceNumber)">
                                            <div class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring-2 ring-inset bg-card dark:bg-default"
                                                [ngClass]="{'bg-primary dark:bg-primary text-on-primary group-hover:bg-primary-800 ring-transparent': step.sequenceNumber < currentStep,
                                                                                        'ring-primary': step.sequenceNumber === currentStep,
                                                                                        'ring-gray-300 dark:ring-gray-600 group-hover:ring-gray-400': step.sequenceNumber > currentStep}">
                                                <!-- Check icon, show if the step is completed -->
                                                <ng-container *ngIf="step.sequenceNumber < currentStep">
                                                    <mat-icon class="icon-size-5 text-current"
                                                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                                </ng-container>
                                                <!-- Step order, show if the step is the current step -->
                                                <ng-container *ngIf="step.sequenceNumber === currentStep">
                                                    <div
                                                        class="text-md font-semibold text-primary dark:text-primary-500">
                                                        {{step.sequenceNumber}}
                                                    </div>
                                                </ng-container>
                                                <!-- Step order, show if the step is not completed -->
                                                <ng-container *ngIf="step.sequenceNumber > currentStep">
                                                    <div
                                                        class="text-md font-semibold text-hint group-hover:text-secondary">
                                                        {{step.sequenceNumber}}
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div class="ml-4">
                                                <div class="flex items-center">
                                                    <div class="font-medium leading-4"
                                                        [ngClass]="{'text-primary': step.sequenceNumber == currentStep}">
                                                        {{step.eventStepName}}</div>
                                                    <span *ngIf="privilege"
                                                        class="transform transition duration-500 hover:scale-110">
                                                        <mat-icon
                                                            [ngClass]="{'text-primary': step.sequenceNumber == currentStep}"
                                                            (click)="editWorkFlow(false,step)" class="icon-size-5 ml-1 "
                                                            [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                                    </span>
                                                    <span *ngIf="privilege"
                                                        class="transform transition duration-500 hover:scale-110">
                                                        <mat-icon
                                                            [ngClass]="{'text-red-500': step.sequenceNumber == currentStep}"
                                                            (click)="deleteWFStep(step)" class="icon-size-5 ml-1 "
                                                            svgIcon="mat_outline:delete"></mat-icon>
                                                    </span>


                                                </div>

                                                <div *ngIf="step?.eventStepDuration"
                                                    class="pt-2 text-md leading-4 text-secondary flex items-center">
                                                    <mat-icon class="icon-size-5 text-hint"
                                                        [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                                    <div class="ml-1.5 ">{{step.eventStepDuration}} minutes</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ng-container>
                            </ol>
                        </div>

                    </div>
                    <!-- Select Template -->

                </div>
            </mat-drawer>

            <!-- Drawer content -->
            <mat-drawer-content class="flex flex-col overflow-hidden sm:bg-accent-50">
                <!-- Header -->
                <div
                    class="lg:hidden flex flex-0 items-center py-2 pl-4 pr-6 sm:py-4 md:pl-6 md:pr-8 border-b lg:border-b-0 bg-card dark:bg-transparent">
                    <!-- Title & Actions -->
                    <!-- <a mat-icon-button (click)="goBack()">
                        <mat-icon [svgIcon]="'heroicons_outline:arrow-sm-left'"></mat-icon>
                    </a> -->
                    <h2 class="ml-2.5 text-primary-600 bg-blue-100 text-md sm:text-xl font-medium tracking-tight truncate py-0.5 px-3 rounded-full "
                      >
                        {{currentWorkflow?.eventStepName}}
                    </h2>
                </div>

                <mat-progress-bar class="hidden lg:block flex-0 h-0.5 w-ful l"
                    [value]="100 * (currentStep ) / workflowInfo?.totalSteps">
                </mat-progress-bar>

                <!-- Main -->
                <div class="flex-auto overflow-y-auto sm:-mt-16 -mt-12 -z-99" cdkScrollable>

                    <!-- Steps -->
                    <mat-tab-group class="fuse-mat-no-header" [animationDuration]="'200'" #courseSteps>
                        <ng-container *ngFor="let step of workflowInfo?.workflowSteps; trackBy: trackByFn">
                            <mat-tab>
                                <ng-template matTabContent>
                                    <app-contest-assignment  [workflow]="step" [selectedStageSubm]="selectedStageSubm"
                                        [workflowId]="workflowInfo?.docId"></app-contest-assignment>
                                </ng-template>
                            </mat-tab>
                        </ng-container>
                    </mat-tab-group>

                    <!-- Navigation - Desktop -->
                    <div class="z-10 sticky hidden lg:flex bottom-4 p-4">
                        <div class="flex items-center justify-center mx-auto p-2 rounded-full shadow-lg bg-primary">
                            <button class="flex-0 flex items-center text-white fill-white" (click)="goToPreviousStep()">
                                <mat-icon class="mr-2 white-icon " color="white"
                                    svgIcon='heroicons_outline:arrow-narrow-left'></mat-icon>
                                <span class="mr-1">Prev</span>
                            </button>
                            <div class="flex items-center justify-center mx-2.5 font-medium leading-5 text-on-primary">
                                <span>{{currentStep}}</span>
                                <span class="mx-0.5 ">/</span>
                                <span>{{workflowInfo?.totalSteps}}</span>
                            </div>
                            <button class="flex-0 flex items-center  text-white" (click)="goToNextStep()">
                                <span class="ml-1">Next</span>
                                <mat-icon class="ml-2 white-icon" [svgIcon]="'heroicons_outline:arrow-narrow-right'">
                                </mat-icon>
                            </button>
                        </div>
                    </div>

                </div>

                <!-- Progress & Navigation - Mobile -->
                <div class="lg:hidden flex items-center p-4 border-t bg-card ">
                    <button mat-icon-button (click)="matDrawer.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:view-list'"></mat-icon>
                    </button>
                    <div class="flex items-center justify-center ml-1 lg:ml-2 font-medium leading-5">
                        <span>{{currentStep}}</span>
                        <span class="mx-0.5 text-hint">/</span>
                        <span>{{workflowInfo?.totalSteps}}</span>
                    </div>
                    <mat-progress-bar class="flex-auto ml-6 rounded-full"
                        [value]="100 * (currentStep ) / workflowInfo?.totalSteps">
                    </mat-progress-bar>
                    <button class="ml-4" mat-icon-button (click)="goToPreviousStep()">
                        <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                    </button>
                    <button class="ml-0.5" mat-icon-button (click)="goToNextStep()">
                        <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-right'"></mat-icon>
                    </button>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>
