::ng-deep.mat-tab-group.fuse-mat-no-header .mat-tab-header {
    opacity: 1 !important;
    height: auto !important;
    max-height: none !important;
    visibility: inherit !important;
    padding-top: -30px;
}

