<div class=" relative h-[calc(100vh_-_100px)] w-200">
    <button mat-dialog-close class="absolute top-0 right-0 z-40">
        <mat-icon class="hover:scale-110 transition duration-5000 transform" svgIcon="mat_outline:close">
        </mat-icon>
    </button>
    <!-- Institution Bulk Upload card -->
    <mat-stepper [linear]="true" #stepper class="bg-transparent h-full w-full py-4 px-6">

        <!-- Institution selection -->
        <mat-step>
            <ng-template matStepLabel>Institution Info</ng-template>
            <ng-template matStepContent>
                <div class="mt-2">
                    <app-institution-info
                        (instituteInfoEmitter)="catchInstituteInfoEvent($event)"></app-institution-info>
                </div>
            </ng-template>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Programme Template</ng-template>
            <ng-template matStepContent>
                <div class="mt-2 relative">
                    <app-programme-template [instituteInfo]="instituteInfo"
                        (programmeTemplateEmitter)="catchProgrammeTemplateEvent($event)" [stepper]="stepper"></app-programme-template>
                </div>
            </ng-template>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Review</ng-template>
            <ng-template matStepContent>
                <div class="mt-2">
                    <app-review-template [instituteInfo]="instituteInfo"
                        [programmeTemplateInfo]="programmeTemplateInfo"></app-review-template>
                </div>
            </ng-template>
        </mat-step>
    </mat-stepper>
</div>