<!-- <div class="w-[60vw] h-[79vh] relative ">
    <button mat-dialog-close class=" absolute -top-4 -right-4 z-40">
        <mat-icon class=" hover:scale-110 transition duration-1000 transform" svgIcon="mat_outline:close">
        </mat-icon>
    </button>


    <mat-stepper [linear]="true" #stepper class="bg-transparent h-full w-full ">
        <mat-step label="Create Contest">
            <app-basic-info-contest [contestInfo]="this.data?.contestInfo"
                (contestBasicInfo)="catchBasicInfoEvent($event)"></app-basic-info-contest>
        </mat-step>
        <mat-step label="Configure Stages">
            <app-stage-info-contest [contestInfo]="this.data?.contestInfo"
                (contestStageInfo)="catchStageInfoEvent($event)"></app-stage-info-contest>
        </mat-step>
        <mat-step label="Review">
            <app-review-contest></app-review-contest>
        </mat-step>
    </mat-stepper>


</div> -->