:host ::ng-deep .ql-container.ql-snow {
    border: transparent !important;
}

.mat-icon {
    background-color: red !important;
    color: green;
}

#custom-button {
    background-color: green;
    color: red;
}