<div [formGroup]="qusForm" class="flex flex-col h-full w-full">
    

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 h-full w-full">
        <h5 class="text-justify ques_title">
            <span *ngFor="let obj of qusForm.get('blanksObj').value|keyvalue;
                let blankIndex=index;let blankLastIndex = last;">
                <span [formGroupName]="obj.key">
                    {{qusForm.get('quesSplit').value[blankIndex]}}
                    <select (change)="onClickOption(questionIndex,obj.key)"
                        formControlName="selectedOption"
                        class="font-italic border-2 border-gray-200 rounded-md"
                        style="border:2px solid lightgrey;">
                        <option [value]="defaultOption" selected>---</option>
                        <option *ngFor="let op of obj.value" [ngValue]="op">
                            {{op.name}}
                        </option>
                    </select>
                    <span *ngIf="blankLastIndex">
                        {{qusForm.get('quesSplit').value[blankIndex+1]}}
                    </span>
                </span>
            </span>
        </h5>
    </div>

    <div *ngIf="quizData.optionalResource.length" class="h-100 flex-auto border-t w-full max-w-screen-xl mx-auto order-1 sm:order-2 ">
        <div class="flex flex-wrap ">
            <div class="w-full h-full">
                <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
                    <li class="-mb-px mr-2 last:mr-0 flex-auto text-center"
                        *ngFor="let res of quizData.optionalResource ; let i = index">
                        <a (click)="toggleTabs(i)" class=" text-sm uppercase px-5 py-3 shadow-lg border rounded-full block leading-normal scale-90 cursor-pointer line-clamp-1"
                            [ngClass]="{'text-primary bg-white ': openTab !== i, 'text-white bg-primary': openTab === i}">
                            {{res.resourceName}}
                        </a>
                    </li>
                </ul>

                <div class="relative flex flex-col min-w-0 break-words bg-white w-full h-full mb-6 ">
                    <div class="px-4 py-5 flex-auto w-full h-full">
                        <div class="tab-content tab-space w-full h-full">
                            <div *ngFor="let res of quizData.optionalResource ; let i = index"
                                [ngClass]="{'hidden': openTab !== i, 'block': openTab === i}" class="w-full h-full">
                                <div *ngIf="res.type == 'IMAGE'; else otherRes">
                                    <img [src]="res?.resourcePath|getDownloadURL" alt="Image loading...">
                                </div>
                                <ng-template #otherRes>
                                    <div *ngIf="res.type ==='VIDEO' ;else pdfContainer" #videoRef
                                        class="w-full h-full">
                                        <div *ngIf="res?.resourcePath">
                                            <app-video [videoUrl]="res.resourcePath"></app-video>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #pdfContainer>
                                    <ng-container *ngIf="res.type ==='PDF'">
                                        <div class="flex justify-center items-center h-100 pb-2">
                                            <div *ngIf="res?.resourcePath" class="h-full w-full">
                                                <app-pdf [pdfUrl]="res.resourcePath |getDownloadURL" class="w-full h-full">
                                                </app-pdf>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>