.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 1s linear infinite;
  }
  

  