<form [formGroup]="assignmentInfoForm">
    <div class="  h-[62vh] overflow-auto ">
        <div class="pt-1 flex justify-center">
            <div class="bg-primary-50 rounded-xl border p-4 w-100">
                <mat-form-field class="w-full text-accent-600">
                    <mat-label class="text-[#282B66]">Assignment Name</mat-label>
                    <input id="title" matInput formControlName="displayName" type="text"
                        placeholder="Enter Quiz displayName">
                    <mat-error *ngIf="assignmentInfoForm.get('displayName').invalid ">
                        Quiz Title is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full text-accent-600">
                    <mat-label class="text-[#282B66]">Creator Name</mat-label>
                    <input id="creator" matInput formControlName="creator" type="text" placeholder="Enter Creator Name">
                    <mat-error *ngIf="assignmentInfoForm.get('creator').invalid ">
                        Creator Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full text-accent-600">
                    <mat-label class="text-[#282B66]">Author Name</mat-label>
                    <input id="author" matInput formControlName="author" type="text" placeholder="Enter Author Name">
                    <mat-error *ngIf="assignmentInfoForm.get('author').invalid ">
                        Author Name is required
                    </mat-error>
                </mat-form-field>

                <div class="grid grid-cols-4 gap-8">
                    <span class="text-[#282B66] font-semibold self-center">Total Duration</span>

                    <mat-form-field class="w-full text-accent-600">
                        <mat-label class="text-[#282B66]">Hours</mat-label>
                        <input matInput formControlName="totalDurationInHours" type="number" min="0" max="23"
                            placeholder="Enter hours" (focusout)="onFocusOutName('totalDurationInHours')">
                        <mat-error *ngIf="assignmentInfoForm.get('totalDurationInHours').invalid ">
                            Hours are required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full text-accent-600">
                        <mat-label class="text-[#282B66]">Minutes</mat-label>
                        <input matInput formControlName="totalDurationInMinutes" type="number" min="0" max="59"
                            placeholder="Enter minutes" (focusout)="onFocusOutName('totalDurationInMinutes')">
                        <mat-error *ngIf="assignmentInfoForm.get('totalDurationInMinutes').invalid ">
                            Minutes are required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full text-accent-600">
                        <mat-label class="text-[#282B66]">Seconds</mat-label>
                        <input matInput formControlName="totalDurationInSeconds" type="number" min="0" max="59"
                            placeholder="Enter seconds" (focusout)="onFocusOutName('totalDurationInSeconds')">
                        <mat-error *ngIf="assignmentInfoForm.get('totalDurationInSeconds').invalid ">
                            Seconds are required
                        </mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field class="w-full text-accent-600">
                    <mat-label class="text-[#282B66]">Number Of Allowed Submissions</mat-label>
                    <input id="numberOfAllowedSubmissions" [min]="1" matInput
                        formControlName="numberOfAllowedSubmissions" type="number" placeholder="Enter A Number">
                    <mat-error *ngIf="assignmentInfoForm.get('numberOfAllowedSubmissions').invalid ">
                        Number Of Allowed Submissions is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full text-accent-600">
                    <mat-label class="text-[#282B66]">Status</mat-label>
                    <mat-select formControlName="status" placeholder="Select the status">
                        <mat-option disabled>Select</mat-option>
                        <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="assignmentInfoForm.get('status').invalid">
                        Status is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="flex flex-row-reverse pt-3">
        <button matStepperNext (click)="onClickNext()" [disabled]="!assignmentInfoForm.valid" mat-stroked-button [matTooltip]="tooltipMessage"
            type="button" class="bg-primary text-white arrowBtn disabled:bg-primary-100">
            Next
            <mat-icon *ngIf="assignmentInfoForm.valid" class="ml-2 icon-size-5  text-white arrowIcon"
                [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
            <mat-icon *ngIf="!assignmentInfoForm.valid" class="ml-2 icon-size-5  text-white "
                [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
        </button>
    </div>
</form>