<div class="w-full h-full overflow-y-auto  py-4">
    <div class="mx-4" *ngIf="!isLevel9">
        <button [matMenuTriggerFor]="menu" matTooltipPosition="above"
            matTooltip="Add new Challenge or Competition Wizard" mat-stroked-button
            class="quizCreateBtn text-primary bg-gray-50">
            Add Contest
            <mat-icon class="ml-4 icon-size-8 text-primary-600 cursor-pointer plusIcon active:text-primary-500"
                [svgIcon]="'heroicons_solid:plus-circle'">
            </mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="createContest('challenge')">
                <mat-icon class="text-primary-700" svgIcon="mat_outline:ballot"></mat-icon>
                <span class="text-primary-700 font-medium">Challenge Type</span>
            </button>
            <button mat-menu-item (click)="createContest('challenge')" [disabled]="true"
                [matTooltip]="'Under Developement'">
                <mat-icon class="text-primary-700" svgIcon="mat_outline:ballot"></mat-icon>
                <span class="text-primary-700 font-medium">Competition Type</span>
            </button>
        </mat-menu>
    </div>
    <div class="w-full ">
        <app-all-contests-table [isLevel9]="isLevel9"></app-all-contests-table>
    </div>
</div>
