<div class="relative flex flex-col p-4">
    <div class=" absolute -top-4 -right-2 ">
        <button mat-dialog-close class="">
            <mat-icon class=" hover:scale-110 transition duration-5000 transform" svgIcon="mat_outline:close">
            </mat-icon>
        </button>
    </div>

    <mat-form-field class="w-100 text-accent-600" floatLabel="always">
        <mat-label class="text-[#282B66]">Number of existing students</mat-label>
        <input readonly matInput type="number" [(ngModel)]="noOfStudentsLinkedWithTheClass"
            placeholder="Enter the number of students per classroom" />
    </mat-form-field>

    <div class="flex items-center" *ngIf="!addStudentUi">
        <p class="text-[#282B66] mr-3 font-medium">Add more students?</p>
        <button (click)="addStudentUi=true" type="button">
            <mat-icon matTooltipPosition="right" matTooltip="Click to add more students"
                class="icon-size-8 text-primary-600 cursor-pointer plusIcon active:text-primary-500"
                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
        </button>
    </div>

    <mat-form-field *ngIf="addStudentUi" class="w-100 text-accent-600" floatLabel="always">
        <mat-label class="text-[#282B66]">Enter number of students to be added</mat-label>
        <input matInput type="number" [(ngModel)]="addingStudentNumber"
            placeholder="Enter number of students to be added" />
    </mat-form-field>

    <button (click)="onSubmit()" *ngIf="addStudentUi" type="button" mat-stroked-button
        [disabled]="addingStudentNumber<1 ||startSpinner"
        class="disabled:bg-primary-100 fuse-mat-stroked-button-large bg-primary-600 text-white hover:bg-primary-500">
        <mat-spinner *ngIf="startSpinner" [diameter]="20"></mat-spinner>
        {{startSpinner?'':'Submit'}}
    </button>

</div>