<form [formGroup]="versionChangeForm" (ngSubmit)="saveVersionChange(versionChangeForm)">
    <div class="grid grid-cols-1 gap-3 px-8">
        <div class=" border-primary-300 sm:pr-6">
            <div class="mt-1 border rounded">
                <mat-label class="text-[#282B66] font-medium text-sm pb-2">Version Description</mat-label>
                <quill-editor #editor formControlName="versionNotes" class=""
                    [styles]="{'min-height': '70px', 'max-height': '160px','height':'120px','border-radius': '8px', 'border-width': '1px','border-color':'rgb(203,213,225)'}"
                    placeholder="" [modules]="{ toolbar: false }" (onEditorCreated)="onEditorCreated($event)">
                </quill-editor>
            </div>
        </div>
    </div>

    <div [ngClass]="trashUINotEditable==true?'hidden':''" class="w-full  mt-4 text-center">
        <button type="submit" mat-raised-button class=" text-white  mx-auto" [disabled]="!enableForm"
            [ngClass]="versionChangeForm.invalid || !enableForm?'bg-primary-200':'bg-primary-600'">
            Save
        </button>
    </div>
</form>