




//----------------Phone Number----------------//
.short {
    display: 'grid';
    grid-template-columns: 51% 49%;
    width: 100%;
    gap: 12px;

}


.long {}

@media only screen and (min-width: 1230px) {
    .short {
        display: grid;
        grid-template-columns: 51% 49%;
        width: 100%;
        gap: 12px;
    }

    .long {}

}

@media only screen and (min-width: 402px) and (max-width: 1230px) {
    .short {
        display: flex;
        flex-direction: column;
        width: 100%
    }

    .long {}

}

@media only screen and (max-width: 402px) {
    .short {
        display: flex;
        flex-direction: column;
        width: 100%
    }

    .long {}
}

.verifyButtonPosition {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    gap: 10px;
}

@media only screen and (max-width: 400px) {
    .verifyButtonPosition {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 0px;

    }

}

//-------------------------------//


//-----------Email---------------//

.shortEmail {
    display: 'grid';
    grid-template-columns: 51% 49%;
    width: 100%;
    gap: 3px;
}

.longEmail {}

@media only screen and (min-width: 1230px) {
    .shortEmail {
        display: grid;
        grid-template-columns: 51% 49%;
        width: 100%;
        gap: 3px;
    }
    .longEmail {}
}

@media only screen and (min-width: 402px) and (max-width: 1230px) {
    .shortEmail {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
        gap: 0px;
    }

    .longEmail {

    }

}


@media only screen and (max-width: 402px) {
    .shortEmail {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
        gap: 0px;
    }

    .longEmail {}
}


::ng-deep.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper{
    margin-bottom: 7px !important;
} 