:host ::ng-deep .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label.mat-tab-label-active {
    background-color: #F1F5F9 !important;
    color: #179AD7 !important;
    border-radius: 20px !important;
    border: 1px solid #179AD7;
    scale: 90%
}

:host::ng-deep.mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    color: #179AD7;
    scale: 90% !important
}



:host::ng-deep body.light .mat-chip.mat-standard-chip,
body .light .mat-chip.mat-standard-chip {
    background-color: #91daff !important;
}

.mat-chip.mat-standard-chip {
    background-color: #91daff !important; 
}

.disableDiv {
    filter: grayscale(60%);
    // pointer-events: none;
    opacity: 0.7; /* Adjust the opacity to your preference */

    &:hover {
        filter: grayscale(60%);
        opacity: 0.7; /* Ensure the same appearance on hover */
    }

    // &:hover {
    //     color:yellow;
    // }
  }